@import url('https://fonts.googleapis.com/css2?family=Almendra:ital,wght@0,400;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');

/* body and container */
body {
    font-family: Montserrat;
}

.container {
    padding: 2rem;
    margin: 1rem;
    border: 1px black solid;
    text-align: center;
}

/* color rules */
.color-panel {
    text-align: center;
    width: 40%;
    margin: .5rem;
    display: inline-block;
    font-size: 1.2rem;
}

#wheat {
    background-color: wheat;
}

#goldenrod {
    background-color: goldenrod;
}

#saddlebrown {
    color: white;
    background-color: saddlebrown;
}

#maroon {
    color: white;
    background-color: maroon;
}

/* font rules */
.font-panel {
    margin: .2rem .5rem;
    font-size: 1.2rem;
}

#Almendra {
    font-family: Almendra;
}

#Montserrat {
    font-family: Montserrat;
}

/* table rules */
table {
    border: 1px black solid;
    border-collapse: collapse;
    width: 100%;
    text-align: left;

}

td,
tr,
th {
    border: 1px gray solid;
    padding: .5rem;
}

/* text style rules */

h1,
h2 {
    text-align: center;
}

.text-styles-panel {
    display: inline-block;
    width: 40%;
    text-align: left;
}

#text-h1 {
    font-weight: 700;
    font-size: 2rem;
    font-family: "Almendra";
    color: black;
}

#text-h2 {
    font-weight: 400;
    font-size: 1.5rem;
    font-style: italic;
    font-family: "Almendra";
    color: black;
}

#text-h3 {
    font-weight: 300;
    font-size: 1.2rem;
    font-family: "Almendra";
    color: black;
}

#text-p {
    font-weight: normal;
    font-size: 1rem;
    font-family: "Montserrat";
    color: black;
}